version: 2
workflows:
  version: 2
  test:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.1-focal
    steps:
      - checkout
      - run: dotnet restore
      - run: dotnet build LaunchDarkly.ServerSdk.SharedTests -f netstandard2.0
      - run: dotnet test LaunchDarkly.ServerSdk.SharedTests.Tests/LaunchDarkly.ServerSdk.SharedTests.Tests.csproj
