publications:
  - url: https://nuget.org/packages/LaunchDarkly.ServerSdk.Redis
    description: NuGet

circleci:
  windows:
    context: org-global
    env:
      LD_RELEASE_DOCS_TARGET_FRAMEWORK: net461

template:
  name: dotnet-windows
  skip:
    - test  # tests require Redis - run them only in CI

documentation:
  title: LaunchDarkly SDK Redis Integration
  githubPages: true
